<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="/css/home.css">
        <script src="/js/nav.js" defer></script>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="Navigation principale">
            <div class="nav-container">
               
                <div class="nav-logo-center">
                    <a href="{{ path('app_home') }}">
                        <img src="/images/logo_complet.png" alt="Click & Sport" class="logo-center-img">
                    </a>
                </div>
                 <button class="burger" id="burger" aria-label="Ouvrir le menu" aria-controls="nav-links" aria-expanded="false">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </button>
                <ul class="nav-links" id="nav-links">
                    <li><a href="{{ path('app_home') }}" class="nav-link">Accueil</a></li>
                    <li><a href="{{ path('app_product_list') }}" class="nav-link">Produits</a></li>
                    <li><a href="{{ path('app_uploaded_images') }}" class="nav-link">Images</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('app_product_add') }}" class="nav-link admin-link">Ajouter un produit</a></li>
                        <li><a href="{{ path('app_test_upload') }}" class="nav-link admin-link">Test Upload</a></li>
                    {% endif %}
                    {% if app.user %}
                        <li><a href="{{ path('app_logout') }}" class="nav-link logout-link">Déconnexion</a></li>
                    {% else %}
                        <li><a href="{{ path('app_login') }}" class="nav-link login-link">Connexion</a></li>
                    {% endif %}
                </ul>

            </div>
        </nav>

        {% block body %}{% endblock %}
        
    </body>
</html>
